



   {{!-- <div class="container mt-5">
     <div class="row">

     {{#each category}}
        <div class="col-md-3 p-3">
           <a href="/catdetials/{{this._id}}">
           
           <div class="card" style="width: 12rem;">
  <img class="card-img-top" src="/category-images/{{this._id}}.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="text-center">{{this.Name}}</p>
  </div>
        </div>
           
           
           </a>


        </div>

{{/each}}

     </div>




   </div>

 --}}


 

