<div class="wrapper1 " style="background-color: #FFE3E3;">
  
    {{#if loginErr}}
            <p class="error text-center">Invalid email or password</p>
            {{/if}}


    <form
         
          action="/change-password"
          method="post"
          id="userChangePass"
        >
         
            <div class="title">
              {{#if notSame}}
                <div class="alert alert-danger" role="alert">
                  New passwords must be same
                </div>
              {{/if}}
              {{#if msg}}
                <div class="alert alert-danger" role="alert">
                  Current password is invalid
                </div>
              {{/if}}
            </div>
            <div class="form-group input-group  ">
              <label for="reg-fn">Current Password :</label>
              <input class="form-control mx-4 " type="password" name="current" id=""  style="width: 12em;"/>
            </div>
            <div class="form-group input-group  mt-2" >
              <label for="reg-fn">New Password :</label>
              <input
                class="form-control mx-5 mt-3"
                type="password"
                name="password1"
                id="reg-pass"
                 style="width: 10em;"
              />
            </div>
             <div class="form-group input-group mt-2">
              <label for="reg-fn">Confirm Password :</label>
              <input class="form-control mx-4 mt-3" type="password" name="password2" id=""  style="width: 12em;" />
            </div>
            <div class="button">
              <button class="btn mt-3" type="submit">Change</button>
            </div>
          </div>
        </form>
   
</div>
<script>


      
$(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});  
</script>