{{!-- <div class=" row">
   <div class="col-md-6 m-auto">
      <div class="container mt-5 pl-5">
          <h2 class="text-center">Login</h2>
          <form action="/login" method="POST">
          {{#if loginErr}}
            <p class="error">Invalid email or password</p>
            {{/if}}
             <div class="form-group">
                 <label>Email address</label>
                 <input type="email" class="form-control" name="Email" placeholder="Enter email" required>
             </div>
             <div class="form-group">
                 <label>Password</label>
                 <input type="password" class="form-control" name="Password" placeholder="Password" required>
             </div >
              <a href="/signup">Create new account ?</a>
              <a href="/auth">login with otp</a>
             <button type="submit" class="btn btn-primary float-right mt-5">Login</button>
          </form>
      </div>
   </div>
</div> --}}

<div class="wrapper1 " style="background-color: #FFE3E3;">
    <div class="logo"> <img src="/images/logo1.png" alt=""> </div>
    <div class="text-center mt-4 name" style="font-family: 'Times New Roman', Times, serif;color:brown;"> Frames </div>
   
    {{#if loginErr}}
            <p class="error text-center">Invalid email or password</p>
            {{/if}}


    <form id="form" action="/login" method="post" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="text" name="Email" id="userName" required placeholder="Email"> </div>
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password" name="Password" id="pwd" required placeholder="Password"> </div> <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6"> <a href="/auth">Login with OTP</a> or <a href="/signup">Sign up</a> </div>
</div>
<script src="/javascripts/validation.js"></script>