<div class="row">
    <div class="col-md-6 mx-auto">
       <div class="card w-75">
                                        <div class="card-body">
                                            <h5 class="card-title">Refferal link</h5>
                                            <p class="card-text">invite friends with reffer, get extra rewrads</p>
                                             <p id="p1" style="color:rgb(214, 88, 88)">{{referLink}}</p><br>
                                            <button
                                        class="btn btn-primary"  onclick="copyToClipboard('#p1')">Copy</button>
                                        </div>
                                    </div>
    </div>
</div>